* {
  border: 1px solid black;
  }

body {
  font-family: Helvetica, sans-serif;
  color: purple;
  /*background-color: black*/
}

button {
  background-color: purple;
  color: white;
  border-radius: 10px;
  font-size: 1.1em;
}

.inline-p {
  display: inline;
}
