body {
  background-color: gray;
  font-family: Helvetica;
}

.cyan {
  color: cyan;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.trump {
  color: gray;
}
